@import "theme";
.logisContainer {
  width: 100%;
  height: 100%;
  .map {
    width: 100%;
    height: calc(100% - 34px);
  }
  .list {
    width: 100%;
    .listTop {
      height: 34px;
      background-color: $--list-top-color;
      border-bottom: 2px solid $--main-color;
      box-sizing: border-box;
      .fl,
      .fr {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .fl {
        .el-input {
          width: 160px;
          margin-left: 20px;
          .el-input__inner{
            height: 24px;
            line-height: 24px;
          }
          .el-input__icon{
            line-height: 24px;
            color: $--main-color;
          }
        }
        .operBtn{
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 12px;
          margin-left: 10px;
          box-sizing: border-box;
          padding: 5px 10px;
          border-radius: 3px;
          color: $--font-color;
          cursor: pointer;
          i{
            margin-right: 5px;
            color: $--main-color;
          }
          &:hover{
            background: $--white-color;
            box-shadow: 0 0 3px $--lightgray-font-color;
          }
        }
      }
      .fr {
        margin-right: 5px;
        i {
          cursor: pointer;
          font-size: 16px;
          margin-right: 10px;
          color: $--main-color;
        }
      }
    }
    .tableBox{
      .operCol{
        i{
          font-size: 16px;
          color: $--main-color;
          margin-right: 5px;
          cursor: pointer;
          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
  .importMsg{
    margin-left: 20px;
    color: $--green-color;
    font-size: 12px;
    &.error{
      color: $--red-color;
    }
  }
  .errorBox{
    margin-top: 10px !important;
  }
  .importInp{
    .el-input__inner{
      width: 300px;
    }
  }
  .iDownload{
    position: absolute;
    top: 93px;
    right: 15px;
    font-size: 12px;
  }
}
