@import "theme";
.mContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  .leftBox {
    width: calc(100% - 220px);
    flex-grow: 1;
    position: relative;
    .foldBox {
      position: absolute;
      right: -1px;
      top: calc(50% - 40px);
      width: 15px;
      height: 80px;
      border: 1px solid $--gray-color;
      border-right: 0;
      background-color: $--white-color;
      z-index: 1;
      box-sizing: border-box;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .map {
      width: 100%;
      height: calc(100% - 38px);
      position: relative;
      .mapOper {
        position: absolute;
        top: 50px;
        right: 15px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        .allView {
          display: inline-block;
          border-radius: 3px;
          width: 50px;
          height: 50px;
          background: url("~@/assets/images/map/all_display.png") no-repeat
            center $--white-color;
          box-shadow: 0 0 3px $--allview-border-color;
          cursor: pointer;
          &.close {
            background: url("~@/assets/images/map/all_other.png") no-repeat
              center $--white-color;
          }
          &:hover {
            background: url("~@/assets/images/map/all_display.png") no-repeat
              center $--white-color;
          }
        }
        .fixedMap {
          margin-top: 10px;
          background-color: $--fixedmap_bg_color;
          color: $--fixedmap_color;
          font-size: 12px;
          padding: 4px 5px;
          border-radius: 3px;
        }
      }
      .safeBox {
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 50px;
        left: 80px;
        padding: 10px;
        border-radius: 4px;
        color: $--white-font-color;
        .title {
          margin: 0 30px 0 0;
          font-size: 14px;
        }
        div {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            font-size: 18px;
            margin-right: 7px;
          }
          &:hover {
            color: $--main-hover-color;
          }
        }
      }
    }
    // .dragMove {
    //   box-sizing: border-box;
    //   width: 100%;
    //   background-color: $--dragmove-bg-color;
    //   border-top: 3px dotted $--dragmove-border-color;
    //   position: absolute;
    //   // top: 850px;
    //   bottom: 38px;
    //   height: 38px;
    //   display: none;
    // }
    // .resize {
    //   box-sizing: border-box;
    //   height: 6px;
    //   border-top: 1px solid $--gray-color;
    //   background-color: $--resize-bg-color;
    //   text-align: center;
    //   cursor: ns-resize;
    //   &:hover {
    //     background-color: $--resize-bg-hover-color;
    //   }
    //   p {
    //     margin: 0;
    //     height: 5px;
    //     background: url("~@/assets/images/map/icon_drag.png") no-repeat 50% 0;
    //     overflow: hidden;
    //     text-indent: -9999px;
    //   }
    // }
    .list {
      .top {
        height: 32px;
        background-color: $--list-top-color;
        margin-top: 6px;
        .fl,
        .fr {
          display: flex;
          align-items: center;
          height: 100%;
        }
        .fr {
          margin-right: 5px;
          i {
            cursor: pointer;
            font-size: 16px;
            margin-right: 10px;
            color: $--main-color;
          }
        }
      }
      .tableBox {
        height: 100px;
        width: 100%;
        overflow: auto;
      }
    }
  }
  .rightBox {
    box-sizing: border-box;
    width: 220px;
    height: 717px;
    border-left: 1px solid $--gray-color;
    background-color: $--white-color;
    .top {
      box-sizing: border-box;
      height: 37px;
      background-color: $--right-top-bg-color;
      border-bottom: 1px solid $--gray-color;
      padding: 0 5px;
      font-size: 16px;
      color: $--right-top-color;
      .fl,
      .fr {
        height: 100%;
        display: flex;
        align-items: center;
      }
    }
    .bottom {
      box-sizing: border-box;
      padding: 0 10px;
      height: 87px;
      background-color: $--right-bg-color;
      /deep/ .el-input {
        margin-top: 8px;
      }
      .operBtn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: calc(100% - 36px);
        i {
          font-size: 20px;
          font-weight: 700;
          cursor: pointer;
          &.play {
            color: $--monitor-play-color;
          }
          &.pause {
            color: $--monitor-pause-color;
          }
          &.stop {
            color: $--monitor-stop-color;
          }
          &.setting {
            color: $--monitor-setting-color;
          }
        }
      }
    }
    .treeList {
      height: calc(100% - 124px);
      overflow: auto;
    }
  }
}
.comDropdown {
  ul > li {
    padding: 5px 7px;
    font-size: 12px;
    cursor: pointer;
    &:hover {
      color: $--main-color;
    }
  }
}
.settingBox {
  .el-dialog__body {
    padding: 5px 15px 20px;
  }
  .settingTab {
    height: 230px;
  }
  .dBox {
    padding: 0 15px;
    > p {
      float: left;
      width: 50%;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      > span {
        display: flex;
        align-items: center;
        &:first-child {
          margin-right: 7px;
        }
        &:not(:first-child) {
          margin-right: 20px;
        }
        .iconR {
          display: flex;
          align-items: center;
        }
      }
      &.row {
        width: 100%;
        height: 23px;
      }
    }
    .dragBox {
      width: 47%;
      float: left;
      border: 1px solid $--gray-color;
      padding: 15px;
      box-sizing: border-box;
      height: 230px;
      overflow-y: auto;
      &:first-child {
        margin-right: 20px;
      }
      li {
        padding: 5px 7px;
        color: $--lightgray-font-color;
        &.item {
          color: $--font-color;
          cursor: move;
        }
      }
    }
  }
}
.row_run {
  color: $--monitor_run;
}
.row_stop {
  color: $--monitor_stop;
}
.row_alarm {
  color: $--monitor_alarm;
}
.row_abnormal {
  color: $--monitor_abnormal;
}
.dialogContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 360px;
  .left {
    width: 170px;
    height: 100%;
    .dTree {
      width: 100%;
      height: calc(100% - 36px);
      overflow: auto;
    }
    .dSearch {
      margin-top: 8px;
    }
  }
  .right {
    width: calc(100% - 170px);
    height: 100%;
    .dContent {
      &.photoLayer {
        .el-checkbox {
          width: 100%;
          padding: 5px 0;
        }
      }
      &.lcdLayer {
        .el-checkbox__label {
          font-size: 12px;
        }
      }
      &.sdLayer {
        .el-select {
          width: 100%;
        }
        .el-input-number {
          width: 90%;
        }
        .intervalSpan {
          margin-left: 7px;
        }
      }
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 15px 20px 0;
      .btnBox {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
      }
      .tTop {
        .title {
          font-size: 14px;
        }
        > a {
          float: right;
          font-size: 12px;
          color: $--main-color;
          border: 1px solid transparent;
          padding: 5px 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom: 0;
          background-color: $--white-color;
          cursor: pointer;
          &.open {
            border-color: $--main-color;
            background-color: $--sms-bg-color;
          }
        }
      }
      .msgList {
        margin-top: -1px;
        border: 1px solid $--main-color;
        border-radius: 5px;
        border-top-right-radius: 0;
        background-color: $--sms-bg-color;
        padding: 5px 0;
        ul {
          height: 100px;
          overflow-y: auto;
          li {
            padding: 5px 10px;
            border: 1px dashed transparent;
            border-width: 1px 0;
            cursor: pointer;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:hover {
              background-color: $--white-color;
              border: 1px dashed $--main-color;
              border-width: 1px 0;
              i {
                display: block;
                &:hover {
                  color: $--main-color;
                }
              }
            }
            i {
              display: none;
            }
          }
        }
        .addBox {
          height: 33px;
          .addBtn {
            display: flex;
            align-items: center;
            font-size: 12px;
            color: $--gray-font-color;
            padding: 10px 15px;
            cursor: pointer;
            &:hover {
              color: $--main-color;
            }
            > i {
              color: $--main-color;
              margin-right: 5px;
            }
          }
          .addLayer {
            display: flex;
            align-items: center;
            padding: 2px 15px;
            > i {
              margin: 0 5px;
              cursor: pointer;
              &:hover {
                color: $--main-color;
              }
            }
          }
        }
      }
      .el-textarea {
        margin: 5px 0;
      }
      .tTips {
        text-align: right;
        font-size: 12px;
        margin: 5px 0;
        color: $--lightgray-font-color;
        > span {
          margin: 0 2px;
          &.red {
            color: $--red-color;
          }
        }
      }
    }
  }
}
.searchLayer {
  width: 300px;
  height: 190px;
  top: 37px;
  right: 0;
  background-color: $--white-color;
  .searchContent {
    padding: 10px 20px;
    .searchBottom {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 0 10px;
    }
    .el-select {
      width: 100%;
    }
  }
}
.searchLi {
  padding: 3px 7px !important;
  span i {
    margin: 0 5px 0 -2px;
    font-size: 16px;
  }
}
.commonLayer {
  position: absolute;
  top: 37px;
  left: 0;
  height: fit-content;
  width: 460px;
  background-color: #fff;
  .comContent {
    padding: 15px;
    .topStat {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 15px;
    }
    /deep/ .el-table__row {
      cursor: pointer;
      .operCol {
        i {
          font-size: 16px;
          color: $--main-color;
          margin-right: 5px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.dangerLevel{
  padding: 3px 7px;
  color: $--white-font-color;
}
.level-1{
  background-color: $--level-1-color;
}
.level-2{
  background-color: $--level-2-color;
}
.level-4{
  background-color: $--level-4-color;
}