// $--main-color: #32b8e8;
$--main-color: #3779ca;
$--main-hover-color: #32b8e8;
$--grayBg-color: #f8f8f8;
$--gray-color: #e7e7e7;
$--white-color: #fff;
$--font-color: #444;
$--white-font-color: #eaeaea;
$--num-color: #5a667d;
$--gray-font-color: #888;
$--lightgray-font-color: #aaa;
$--red-color: #f56c6c;
$--green-color: #67c23a;
$--grey-border-color: #ebebeb;
$--list-top-color: #f7f7f7;
$--resize-bg-color: #f3f3f3;
$--resize-bg-hover-color: #e0f2fd;
$--right-bg-color: #fff;
$--right-top-bg-color: #f6f6f6;
$--right-top-color: #96a2ae;
$--monitor-play-color: #93c365;
$--monitor-pause-color: #fdba30;
$--monitor-stop-color: #e8757d;
$--monitor-setting-color: #42bfec;
$--dragmove-bg-color: rgba(0, 0, 0, 0.3);
$--dragmove-border-color: rgba(0, 0, 0, 0.5);
$--allview-border-color: rgba(0, 0, 0, 0.2);
$--fixedmap_bg_color: rgba(0, 0, 0, 0.6);
$--fixedmap_color: #ddd;
$--monitor_run: #144e0b;
$--monitor_stop: #1a0859;
$--monitor_alarm: #ae0808;
$--monitor_abnormal: #666666;
$--sms-bg-color: #f3f6fa;
$--font-eleUI-color: #606266;
$--level-4-color: #e6451d;
$--level-2-color: #d79f09;
$--level-1-color: #63acff;
