.wenzi {
	font-size: 22px;
	line-height: 40px;
	font-weight: bolder;
	color: #006699;
	text-decoration: none;
	text-align: center;
	font-family: "黑体";
}
.bd {
	background-image: url(../images/long_bd.gif);
	background-repeat: repeat-x;
	padding: 1px;
	height: 21px;
	width: 150px;
	border: 1px solid #D2E8F6;
	margin-top: 3px;
	margin-bottom: 3px;
}
.wenzi1 {
	font-size: 12px;
	line-height: 25px;
	color: #000000;
	text-decoration: none;
	text-align: left;
	vertical-align: middle;
}
textarea{
	border: 1px solid #dde4ed;
	
}

.bd1 {
	background-image: url(../images/long_bd.gif);
	background-repeat: repeat-x;
	padding: 1px;
	height: 21px;
	width: 100px;
	border: 1px solid #D2E8F6;
	margin-top: 3px;
	margin-bottom: 3px;
}
.wenzi2 {
	font-size: 18px;
	line-height: 30px;
	font-weight: bolder;
	color: #990000;
	text-decoration: none;
	text-align: center;
}

