<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fhs.workflow.dao.FlowTaskHistoryDao">


    <select id="findLastTaskHistory" resultType="com.fhs.workflow.bean.FlowTaskHistory" parameterType="map">
          SELECT
          `id`,
          `instance_id`,
          `task_finish_time`,
          `task_id`,
          `candidate_user_id`,
          `candidate_rule_id`,
          `status`,
          `create_time`,
          `update_time`,
          `create_user`,
          `update_user`,
          `title`,
          `parent_task_id`,
          `use_time`,
          `assignee_user_id`,
          `result`,
          `remark`,
          `definition_key`,
          `code`,
          `order_num`
        FROM
           `t_flow_task_history`
          WHERE  instance_id = #{instanceId} ORDER BY create_time DESC
        LIMIT 0, 1
    </select>

    <select id="findMaxOrderNum" resultType="java.lang.Integer" parameterType="map">
        SELECT MAX(order_num) FROM   `t_flow_task_history`   WHERE  instance_id = #{instanceId}
    </select>


</mapper>