body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #F7F7F7;
}
a:link {
	color: #003300;
	text-decoration: none;
}
a:visited {
	color: #003300;
	text-decoration: none;
}
a:hover {
	color: #FF6600;
	text-decoration: underline;
}
td {
	font-size: 12px;
	line-height: normal;
	color: #333333;
}
.top01 {
	font-family: "ו";
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
}
.menulink {
	font-size: 12px;
}
.menulink:link {
	color: #000000;
	text-decoration: none;
}
.menulink:visited {
	color: #000000;
	text-decoration: none;
}
.menulink:hover {
	color: #006600;
	text-decoration: none;
}
.toplink {
	font-size: 12px;
}
.toplink:link {
	color: #FFFFFF;
	text-decoration: none;
}
.toplink:visited {
	color: #FFFFFF;
	text-decoration: none;
}
.toplink:hover {
	color: #FF0000;
	text-decoration: underline;
}
.proname {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: normal;
	font-weight: bold;
	color: #5693D8;
}
.title {
	font-size: 13px;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #317CCF;
}
.lefttitle {
	font-size: 12px;
	line-height: normal;
	font-weight: bold;
	color: #333333;
	padding-left:18px
}
input {
	font-size: 12px;
	height: 18px;
}
select {
	font-size: 12px;
	height: 18px;
}
.singleselect {
	font-size: 12px;
	height: 18px;
}
textarea {
	font-size: 12px;
	
}.tr1px {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;

}
.newleftbg {
	background-image: url(../images/style4/images/newleftbg.gif);
	background-repeat: repeat-x;
	background-color: #EBEBEB;
}
a.btnlink{
	padding-left:20px;
	padding-top:5px;
	letter-spacing: 1pt;
	display:block;
	height:25px;
     no-repeat;
	background-color: #B2B2B2;
	background-image: url(../images/style4/images/195line2.gif);
	color: #000000;
	text-decoration: none;
}
a.btnlink:link,a.btnlink:visited{
	padding-left:20px;
	padding-top:5px;
	letter-spacing: 1pt;
	display:block;
	height:25px;
     no-repeat;
	background-color: #C1D8F2;
	background-image: url(../images/style4/images/195line2.gif);
	color: #000000;
	text-decoration: none;
}
a.btnlink:hover, a.btnlink:active{
no-repeat;
	text-decoration:none;
	letter-spacing: 1pt;
	color: #ffffff;
	text-decoration: none;
	background-color: #5693D8;
	background-image: url(../images/style4/images/195line2.gif);
}
.head {
	font-size: 12px;
	line-height: normal;
	color: #FFFFFF;
	background-color: #468EFB;
}
.copyright {
	font-size: 12px;
	line-height: normal;
	color: #353535;
}
.listtr1 {
	background-color: #3F83E9;
}

.listtr2 {
	background-color: #FEFEFC;
}
.listtr3 {
	background-color: #FFFFCC;
}
.listtr4 {
	background-color: #F2EFEA;
}
.tr1 {
	background-color: #3F83E9;
}
.tr2{
	font-weight:bold;	
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #B1C6CD;
}
.pushbarbg {
	background-color: #468EFB;
}
.tabborder {
	border-bottom:1px solid #69A9EF;
	border-left:1px solid #69A9EF;
	border-right:1px solid #69A9EF;
	padding:8 8 8 8
}
.tdMn {
	background-color: #9FC8F4;
}
.GridListTable{
	border-top:1px solid #69A9EF;
	border-bottom:1px solid #69A9EF;
	border-left:1px solid #69A9EF;
	border-right:1px solid #69A9EF;
}	
.leftBgColor{	
	background-color:"#BBD3EE";
}
/**************scroll div***********/
.scrollbox {overflow:auto;overflow-x=hidden; vertical-align: top; clip:   rect(   ); text-align: center;float: none}
.scrollboxWH {overflow:auto; vertical-align: top; clip:   rect(   ); text-align: center;float: none}
/**************scroll div***********/



.css {	background-color:#014DA1;
	font-family: "ו", Arial;
	font-size: 13px;
	color: #FFFFFF;
	margin-top: -8px;
	margin-bottom: -4px;
	margin-left: -4px;
	margin-right: -8px;
	border-top-color:#000000;
	overflow:hidden;
	width:120;
}
.box1 {
	BORDER-RIGHT: #014DA1 1px solid; BORDER-TOP: #014DA1 1px solid; OVERFLOW: hidden; BORDER-LEFT: #014DA1 1px solid; WIDTH: 80px; CLIP: rect(0px 80px 18px 0px); BORDER-BOTTOM: #014DA1 1px solid; HEIGHT: 18px
}
.box2 {
	BORDER-RIGHT: #014DA1 1px solid; BORDER-TOP: #014DA1 1px solid; OVERFLOW: hidden; BORDER-LEFT: #014DA1 1px solid; WIDTH: 100px; CLIP: rect(0px 100px 18px 0px); BORDER-BOTTOM: #014DA1 1px solid; HEIGHT: 18px
}