.STYLE1 
{
	font-family: "ו";
	font-size: 18px;
	font-weight: bold;
}	
.a0 {
	background-color: #D3B27D;
}

.a1 {
	background-color: #889F5C;
}

.a2 {
	background-color: #749DD4;
}

.a3 {
	background-color: #5D9B73;
}

.a4 {
	background-color: #C99B7C;
}

.a5 {
	background-color: #8CBCB9;
}

.a6 {
	background-color: #B1BCE3;
}

.a7 {
	background-color: #D6DCF2;
}

.a8 {
	background-color: #E6D5FA;
}

.a9 {
	background-color: #D5E8B9;
}

.aa0 {
	text-align: left;
	text-indent: 0px;
}

.aa1 {
	text-align: left;
	text-indent: 15px;
}

.aa2 {
	text-align: left;
	text-indent: 30px;
}

.aa3 {
	text-align: left;
	text-indent: 45px;
}

.aa4 {
	text-align: left;
	text-indent: 60px;
}

.aa5 {
	text-align: left;
	text-indent: 75px;
}

.aa6 {
	text-align: left;
	text-indent: 90px;
}

.aa7 {
	text-align: left;
	text-indent: 105px;
}

.aa8 {
	text-align: left;
	text-indent: 120px;
}

.aa9 {
	text-align: left;
	text-indent: 135px;
}